[defaults]

[galaxy] 
 server_list = published, community, rh-certified, validated
 [galaxy_server.published] 
 url = https://aap25gateway.bigness.lan/api/galaxy/content/published/
 token=bdf12d1a1142feaec4474e6ec0002d9a712ab0fa
 ignore_certs=true

 [galaxy_server.community]
 url=https://aap25gateway.bigness.lan/api/galaxy/content/community/
 token=bdf12d1a1142feaec4474e6ec0002d9a712ab0fa
 ignore_certs=true

 [galaxy_server.rh-certified]
 url = https://aap25gateway.bigness.lan/api/galaxy/content/rh-certified/
 token=bdf12d1a1142feaec4474e6ec0002d9a712ab0fa
 ignore_certs=true

 [galaxy_server.validated]
 url = https://aap25gateway.bigness.lan/api/galaxy/content/validated/
 token=bdf12d1a1142feaec4474e6ec0002d9a712ab0fa
 ignore_certs=true
